.App {
  text-align: center;
  background-color: #3e5f73;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App h1{
  color: white;
  margin-top: 0;
}

.Score h1{
  color:#e7d07a
}

.Score span{
  color: white;
}

.Score button{
  height: 50px;
  border-radius: 10px;
  width: 100px;
  margin: 8px;
}

.Score button:first-of-type{
  background-color: #fe938c;
  
}

.Score button:nth-child(2){
  background-color: #6191b5 ;
}

.Score button:nth-last-child(1){
  background-color: #e71d37 ;
}

.Board h2{
  color: #F6BE00;
}

.Board h3{
  color: #F6BE00;
}

.Board span{
  color: white;
  text-transform: capitalize; 
}

.Board button{
  height: 50px;
  border-radius: 10px;
  width: 100px;
  border: none;
  background-color: #F6BE00;
}

.Answer button{
  height: 50px;
  width: 50%;
  border: none;
  background-color: #1a2650;
  color: white;
}
.Answer h2{
  color: white;
}